*{
  box-sizing: border-box;
}
.card-container-bg {
  background-color: #01b9f5;
  color: white;
  width: 380px;

}
.main-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 200px); */
  gap: 10px;
  width: auto;
}
/* gird child  */
.item-1 {
  grid-row: span 2;
}
.item-2 {
}
.item-3 {
}
.item-4 {
}

.overall-details{
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
  padding: 24px;
}
